.subscribe-button {
  background-color: rgb(201, 1, 1);
  color: white;
  border: none;
  height: 36px;
  width: 100;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}

.join-button {
  background-color: white;
  border-color: rgb(6, 43, 227);
  border-style: solid;

  color: rgb(6, 43, 227);
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.tweet-button {
  background-color: rgb(2, 137, 255);
  color: white;
  border: none;
  height: 36px;
  width: 70;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.15;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button:hover {
  background-color: rgb(6, 43, 227);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}
