p {
  font-family: arial;
  margin-bottom: 0px;
  margin-top: 0px;
}

.video-title {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 5px;

  width: 300px;
}

.video-stats {
  font-family: Arial;
  font-size: 14px;
  margin-bottom: 20px;
}

.video-author {
  font-family: arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 0px;
}

.video-description {
  font-size: 14px;
  font-family: Arial;
  width: 300px;
  color: rgb(96, 96, 96);
  line-height: 22px;
  margin-top: 20px;
}

.apple-text {
  margin-top: 20px;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.shop-link {
  margin-left: 20px;
}

.shop-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
