/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav a.active {
    background-color: #0056b3;
}

.sectors-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    margin-bottom: 20px;
}

.sector {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.sector h3 {
    margin-top: 0;
    margin-bottom: 0px;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 0px;
}